            +--------------------+
            | CSCC69             |
            | PROJECT 1: THREADS |
            | DESIGN DOCUMENT    |
            +--------------------+
   
---- GROUP ----

>> Fill in the names and email addresses of your group members.

Arvindh Sengu <arvindh.sengu@mail.utoronto.ca>
Alex Xu <alexxx.xu@mail.utoronto.ca>
Rogers Dai <roger.dai@mail.utoronto.ca>

---- PRELIMINARIES ----

>> If you have any preliminary comments on your submission, notes for the
>> TAs, or extra credit, please give them here.

>> Please cite any offline or online sources you consulted while
>> preparing your submission, other than the Pintos documentation, course
>> text, lecture notes, and course staff.

                 ALARM CLOCK
                 ===========

---- DATA STRUCTURES ----

>> A1: Copy here the declaration of each new or changed `struct' or
>> `struct' member, global or static variable, `typedef', or
>> enumeration.  Identify the purpose of each in 25 words or less.

In thread.c

/* List of processes in THREAD_BLOCKED state because it is
 currently sleeping, that is, processesthat are blocked and 
 cannot run because they are waiting to be woken up, ordered 
 by ascending wakeup-tick field */
static struct list sleep_list;


In thread.h
struct thread
  {
    /* Owned by thread.c. */
    tid_t tid;                          /* Thread identifier. */
    enum thread_status status;          /* Thread state. */
    char name[16];                      /* Name (for debugging purposes). */
    uint8_t *stack;                     /* Saved stack pointer. */
    int priority;                       /* Priority. */
    struct list_elem allelem;           /* List element for all threads list. */
    int64_t wakeup_tick;                /* The tick at which to wake up the thread 
                                          if thread is sleeping. Value will be 0
                                          if thread is not sleeping. */

    /* Shared between thread.c and synch.c. */
    struct list_elem elem;              /* List element. */

#ifdef USERPROG
    /* Owned by userprog/process.c. */
    uint32_t *pagedir;                  /* Page directory. */
#endif

    /* Owned by thread.c. */
    unsigned magic;                     /* Detects stack overflow. */
    };
    
int64_t wakeup_tick: wakeup_tick to the thread_struct so when a thread sleeps it knows the tick to wakeup.











---- ALGORITHMS ----

>> A2: Briefly describe what happens in a call to timer_sleep(),
>> including the effects of the timer interrupt handler.

timer_sleep() sleeps the active thread for 'ticks' ticks by
calling thread_sleep() with the current tick + the amount of ticks to sleep

thread_sleep() sets the threads wakeup-tick field, then inserts the thread into 
the sleep_list ordered by its wakeup-tick via list_insert_ordered with 
wakeup_tick_lessas the comparator function, then it blocks the thread by 
calling thread_block()

wakeup_tick_less() compares two threads a and b, and 
returns true if a's wakeup-tick field value < b's wakeup-tick field value

timer_interrupt() increments ticks, calls thread_tick() 
and the calls wakeup_threads()

wakeup_threads() continuosly compares the current tick against the thread with 
the smallest wakeup-tick field in the sleep_list. If the 
current tick > wakeup-tick of the earliest thread (the foremost item in the 
list), then the function returns with no effect. 
Otherwise it will continue to wake up threads by calling list_pop_front()
and calling thread_unblock on the popped thread



>> A3: What steps are taken to minimize the amount of time spent in
>> the timer interrupt handler?
The sleeping threads are ordered by increasing wakeup-tick so the
earliest thread to be woken up is at the front of the list. 
Thus, scanning the list to see if a wakeup needs to be perfomed 
is only O(1) by peeking at the front of the linked list. In an 
unsorted list the check would need to be O(n) as we would
scan the entire sleep_list.

---- SYNCHRONIZATION ----

>> A4: How are race conditions avoided when multiple threads call
>> timer_sleep() simultaneously?

timer_sleep() calls thread_sleep() in which interrupts 
are disabled (intr_disable()) before any writing is done 
to wakeup-ticks field and any threads are blocked and 
moved to the sleep_list. No race conditions occur 
as these two operations will be atomic.

>> A5: How are race conditions avoided when a timer interrupt occurs
>> during a call to timer_sleep()?
If an interrupt happens before a thread is 
slept, an interrupt could cause start to be 
slightly stale. Once inside thread_sleep(), 
interrupts are disabled before wakeup_tick
and sleep_list are modified so a timer interrupt will
not corrupt any ordering or result in a partially 
modified thread. 

---- RATIONALE ----

>> A6: Why did you choose this design?  In what ways is it superior to
>> another design you considered?
1. Ordered vs unordered sleep_list: by ordering by 
wakeup_tick we ensure that checking if any wake-ups
need to happen to have time complexity O(1) vs O(n) 
(checking the front of the list vs entire list). 
However this results in insertions being O(n) vs O(1). 
However, we still chose this approach because checking 
for wake up happens on every timer interrupt which is magnitudes more frequent 
than insertion into the list, so overall it is more effecient.

2. sleep_list vs busy_waiting. The original implementation just spun 
in a while loop calling thread_yield(). The new design blocks
the thread and only wakes it up when it is time. This is superior 
because now blocked threads dont consume CPU time and cause unneeded 
context switches. 

             PRIORITY SCHEDULING
             ===================

---- DATA STRUCTURES ----

>> B1: Copy here the declaration of each new or changed `struct' or
>> `struct' member, global or static variable, `typedef', or
>> enumeration.  Identify the purpose of each in 25 words or less.

struct thread
  {
    /* Owned by thread.c. */
    tid_t tid;                          /* Thread identifier. */
    enum thread_status status;          /* Thread state. */
    char name[16];                      /* Name (for debugging purposes). */
    uint8_t *stack;                     /* Saved stack pointer. */
    int priority;                       /* Priority. */
    struct list_elem allelem;           /* List element for all threads list. */
    struct list donations_list;         /* List of threads that have donated priority. */
    struct list_elem donor_elem;        /* List element for donotions list. */
    int base_priority;                  /* Original priority of thread before any donations. */
    struct lock *waiting_lock;          /* The lock that this thread is waiting for. */
    int64_t wakeup_tick;                /* The tick at which to wake up the thread 
                                          if thread is sleeping. Value will be 0
                                          if thread is not sleeping. */
   

    /* Shared between thread.c and synch.c. */
    struct list_elem elem;              /* List element. */

#ifdef USERPROG
    /* Owned by userprog/process.c. */
    uint32_t *pagedir;                  /* Page directory. */
#endif

    /* Owned by thread.c. */
    unsigned magic;                     /* Detects stack overflow. */
  };

Added: 
    int base_priority: stores thread original priority 
    before any donations so it can be restored after 
    the lock is released/donations are gone.
    
    int priority: current priority of thread

    struct lock *waiting_lock: the lock this 
    thread is waiting to aquire, NULL if not waiting.
    If a thread has released a lock, this field is used to 
    filter out which threads need to be removed from its donor list

    struct list donations_list: list of threads 
    donaiting priority to this thread, each entry 
    is a donor. ordered
    by decreasing priority

    struct list_elem donor_elem this threads 
    list elem (for inserting into another threads donations_list)





>> B2: Explain the data structure used to track priority donation.
>> Use ASCII art to diagram a nested donation.  (Alternately, submit a
>> .png file.)

Each thread has a donations_list. A list of threads 
donating to it. Each thread also has a 
waiting_lock pointer which resolves which 
thread to donate too. 

Thread A (base priority, priority: 30) (waiting_lock: L2)
                    |
                    | donates to
                    |
Thread B (base priority: 10, priority: 30) (waiting_lock: L1) (donations_list: [A])
                    |
                    | donates to
                    |
Thread C (base priority: 5, priority: 30) (waiting_lock: NULL) (donations_list: [B])


---- ALGORITHMS ----

>> B3: How do you ensure that the highest priority thread waiting for
>> a lock, semaphore, or condition variable wakes up first?

sema_up() sorts the waiters list via list_sort 
before popping which ensures that the highest priority
thread gets popped and unblocked from the waiting list.


>> B4: Describe the sequence of events when a call to lock_acquire()
>> causes a priority donation. How is nested donation handled?

We first check if (lock_holder != NULL).
if false: that means lock is already held. As such our current thread
is a possible donor to the thread that holds the lock. We first set
waiting_lock to point at this lock. Then the thread inserts itself 
into the lock holder's donation list via list_insert_ordered 
via thread_priority_more comparator function (ordered by decreasing priority).

We handle nested donation by donating upwards in a while loop.
In the while loop if the current threads priority is greater than the
lock holder's it raises the lock holder's priority. It continues 
to go down the chain of waiting_locks to donate its priority to any 
other threads in this chain. This happens until a thread isn't waiting on a 
lock, in which case it isn't a donor. Also when we do donation to a 
lock_holder, if the lock_holder is also waiting on a lock and is a donor
to a thread T, then we need to make sure thread T's donations list is kept
in decreasing order. Since the lock_holder just changed priorities, we 
remove the lock-holder from T's donation list and reinsert it into the
list via list_insert_ordered via thread_priority_more comparator function 
(ordered by decreasing priority).


>> B5: Describe the sequence of events when lock_release() is called
>> on a lock that a higher-priority thread is waiting for.

1. Thread L is holding a lock A that Thread H is waiting for
2. lock_release is called
3. Remove Thread H and any other thread waiting for lock A from 
   Thread L's donations_list
4. Restore L's priority to max(base_priority, top donor's priority)
5. Release the lock (lock->holder = NULL;) and sema_up
6. H is unblocked and inserted into the ready list 
7. After H is unblocked, L yields since it has lower priority 
8. H acquires the lock and continues executions 


---- SYNCHRONIZATION ----

>> B6: Describe a potential race in thread_set_priority() and explain
>> how your implementation avoids it.  Can you use a lock to avoid
>> this race?

Potential scenario with a race condition:

- Thread A calls the thread_set_priority() function
- Code goes through Thread A's donation list and is about to update its priority
- Interrupt happens and causes a context switch
- Thread B attempts to acquire a lock held by Thread A and 
    donates its priority to Thread A
- Program modifies Thread A's donation list
- Context switches back to Thread A
- Thread A sets its priority based on the old list 
    - Program counter has already 
    passed the "read donation" list line
- Thread B's donated priority is now lost

How our implementation deals with this:

Our implementation disables interrupts before changing 
any priority or checking the donation list.
This is due to the fact that priority donation
occurs in the lock_acqure function which can be called
from another thread. Disabling interrupts prevents
Pintos from context switching while the program reads 
and wries the priority of the caller thread 

Can you use a lock to avoid this race?:

No using locks would not avoid this race. thread_set_priority can be 
called while a thread already holds a lock and so using an additional 
lock could cause a deadlock. This is because locks depend on the priority 
information being correct to work properly, therefore using a lock to 
protect the priority information that locks depend on would result in a 
circular dependency where neither can safely run without the other being 
correct.


---- RATIONALE ----

>> B7: Why did you choose this design?  In what ways is it superior to
>> another design you considered?

1. 
Priority Donation using donations_list in thread struct.
We chose to implement a linked list for each thread that a list
of all the threads donating to it, as well as a waiting_lock field 
that stores a pointer to the lock that the thread is waiting for.

Another design we considered was having an int donation_priority field 
for each thread that would update if another donor thread had a higher
priority. 

Our implementation is superior because donations_list can hold multiple locks 
and receive donations from multiple threads, whereas a single integer cannot 
keep track of which donation came from which lock/thread. Furthermore, if the  
thread loses it's highest donor and consequently should lose it's priority, 
donation_priority has no way of tracing that interaction. 

2. 
We insert in donations_list in sorted order and keep it sorted throughout all 
functions. The alternative would be an unsorted list that you would have to 
iterate through to find the maximum.

Similar to the decision for sleep_list, although insertion 
increases to O(n) from O(1), when we need to find the highest priority, 
our time complexity decreases to O(1) from O(nlogn) 
(O(nlogn) would be from sorting). 

Since we modify donation_list way less often than reading the 
max priority, the tradeoff results in an overall more effecient program.

3.
Our waiting list for semapores, locks, and condvar are inserted normally
without ordering, and then sorted when we need to get the highest 
priority waiter.

Contrasting our donations list and sleep list which are kept sorted,
we decided to not keep waiters for semaphores, locks and condvar in 
sorted order and instead sort when needed. This would make our inserts 
O(1) instead of O(n) but make whenever we needed to get the next highest 
priority waiter take O(nlogn) from sorting.

We did this for a few reasons.

First of all our implementation of priority donation for threads is
done within locks and our lock implementation functions. Our locks 
all have priority donation logic embedded, but semaphores or condvar 
do not have the same. This means semaphore's and condvar's waiter's 
priorities may change without us being able to keep the waiter list 
sorted. As such, to make sure semaphores and condvar work properly 
in future contexts or in general, we do a simple insert and sort.
Although it may be slightly slower it is much safer, more modular,
and more future proof.

Also unlike a sleep list which is checked on every tick semaphores,
condvar checks (for the highest priority waiter) happen much
less frequently, therefore the total O(nlogn) sorts would not be as costly.

4.
We also designed our preemption checks (checking if current thread needs
to yield to a higher priority thread) so that it isn't within the
thread_unblock function. 

We could have added an extra check within thread_unblock to make preemption
easy, however we thought it would be poor design. Thread_unblock is a very 
integral function that is used in many places within an os where interrupts 
are off, or yielding mid-way would be unsafe. 

So to keep thread_unblock modular and safe to use in all contexts we instead
checked preemption only in cases where we know it is safe. For example we 
check preemption within thread_create only after the new thread is added to 
the ready list. We check preepmtion within sema_up only after the highest 
priority waiter is added to the ready list.

Our design choice makes sure thread_unblock is simple, modular, future proof,
and safe, while still making sure we preempt at the right times.


               SURVEY QUESTIONS
               ================

Answering these questions is optional, but it will help us improve the
course in future quarters.  Feel free to tell us anything you
want--these questions are just to spur your thoughts.  You may also
choose to respond anonymously in the course evaluations at the end of
the quarter.

>> In your opinion, was this assignment, or any one of the three problems
>> in it, too easy or too hard?  Did it take too long or too little time?

We felt that this assignment wasn't too easy nor too hard, and that the 
time allocated was fair. We spent most of our time debugging the priority 
donation, because there were often times where changin 2-3 lines would 
either result in every test failing or a couple more tests passing. 

>> Did you find that working on a particular part of the assignment gave
>> you greater insight into some aspect of OS design?

Yes, in specific the priority scheduler gave us a greater insight into 
the behaviour of threads and locks. Actually implementing a scheduler 
to handle priority donation helped a lot with understanding all the 
edge cases with threads and locks.

>> Is there some particular fact or hint we should give students in
>> future quarters to help them solve the problems?  Conversely, did you
>> find any of our guidance to be misleading?

https://www.youtube.com/watch?v=myO2bs5LMak
Share this video with all future students

The semaphores and semaphore_elem structs were confusing in the sense that 
each thread had its own personal semaphore. So when you described the 
waiters list as a list of threads waiting for the semaphore, it was a bit 
misleading.

>> Do you have any suggestions for the TAs to more effectively assist
>> students, either for future quarters or the remaining projects?



>> Any other comments?
