             +--------------------------+
             | CSCC69                   |
             | PROJECT 2: USER PROGRAMS	|
             | DESIGN DOCUMENT          |
             +--------------------------+

---- GROUP ----

>> Fill in the names and email addresses of your group members.

Arvindh Sengu arvindh.sengu@mail.utoronto.ca
Alex Xu <alexxx.xu@mail.utoronto.ca>
FirstName LastName <email@domain.example>

---- PRELIMINARIES ----

>> If you have any preliminary comments on your submission, notes for the
>> TAs, or extra credit, please give them here.

>> Please cite any offline or online sources you consulted while
>> preparing your submission, other than the Pintos documentation, course
>> text, lecture notes, and course staff.

               ARGUMENT PASSING
               ================

---- DATA STRUCTURES ----

>> A1: Copy here the declaration of each new or changed `struct' or
>> `struct' member, global or static variable, `typedef', or
>> enumeration.  Identify the purpose of each in 25 words or less.

---- ALGORITHMS ----

>> A2: Briefly describe how you implemented argument parsing.  How do
>> you arrange for the elements of argv[] to be in the right order?
>> How do you avoid overflowing the stack page?

---- RATIONALE ----

>> A3: Why does Pintos implement strtok_r() but not strtok()?
strtok() uses a hidden global variable to track its position between function calls.
This is not thread safe, because if two threads tokenize strings at the same time,
they'd corrupt each other. 

strtok_r takes a save_ptr instead, making it safe to use in a multi-threaded kernel like Pintos
where multiple threads may be tokenizing strings at the same time.


>> A4: In Pintos, the kernel separates commands into a executable name
>> and arguments.  In Unix-like systems, the shell does this
>> separation.  Identify at least two advantages of the Unix approach.

-> Users can use different shells with different syntaxes, parsing, etc
   without making changes to the kernel (i.e: more flexible/modular and 
   reduces kernel crashes/bugs)

-> The kernel only needs to exec a prog with an already parsed executable
   so it does not need to understand how to parse, tokenize, etc
   other than running the file which makes the kernel more modular

                 SYSTEM CALLS
                 ============

---- DATA STRUCTURES ----

>> B1: Copy here the declaration of each new or changed `struct' or
>> `struct' member, global or static variable, `typedef', or
>> enumeration.  Identify the purpose of each in 25 words or less.

struct file **fd_table
-> array of open files for this thread, indexed by file descriptor (fd)   

struct file *running_file
-> the file currently running for this thread

int next_fd
-> tracks the next available fd to assign 

struct semaphore load_sema; In thread.h for struct thread
-> A semaphore used to synchronize a parent process when it calls 
   exec for when the child process is done loading

bool loaded; In thread.h for struct thread
-> A bool for the exec syscall to represent if a child process had their
   executable successfully loaded or not

struct thread* parent; In thread.h for struct thread
-> The parent process that created the child procecss/thread

struct list child_list ; In thread.h for struct thread
-> A list of child processes for the current process/thread.
   Used to help lookup child processes in exec and wait syscalls.

struct list_elem child_elem; In thread.h for struct thread
-> The list_elem that allows a child process/thread to be
   inserted into its parent's child_list. Can also be used to 
   view siblings.


>> B2: Describe how file descriptors are associated with open files.
>> Are file descriptors unique within the entire OS or just within a
>> single process?

Each thread has its own fd_table array where each entry points to 
the struct file for that open file using the fd as its index. Fd's are 
not shared (i.e: fd3 in thread A and fd3 in thread B are independent).

Fd's are unique within a thread, not across pintos. So two different 
threads can have the same fd number but they can refer to different 
files.

---- ALGORITHMS ----

>> B3: Describe your code for reading and writing user data from the
>> kernel.

For small or fix sized args, we call copy_in and it reads the memory
using get_user (reads a single byte and returns -1 if page fault).
Then the data is copied into a kernel buffer to avoid races.

For larger buffers (like the ones passed to read/write), we first 
verify that the entire user buffer is valid by calling 
check_buffer, which checks every byte with get_user. 
If the buffer is accessible, we pass the original user ptr directly 
to the file system or pre-built functions (i.e: file_read, file_write, putbuf). 
Then, the kernel can dereference user ptrs once they are known to be valid.

For string arguments (ex: file names), we check the first byte with 
check_pointer to confirm the address is not NULL and points to user memory, 
then assume the null-terminated string is safe to access.

>> B4: Suppose a system call causes a full page (4,096 bytes) of data
>> to be copied from user space into the kernel.  What is the least
>> and the greatest possible number of inspections of the page table
>> (e.g. calls to pagedir_get_page()) that might result?  What about
>> for a system call that only copies 2 bytes of data?  Is there room
>> for improvement in these numbers, and how much?

If a full page of data is copied from user space into the kernel, the least
number of inspections of the page table would be 1 (if the data starts at
the beginning of a page boundary). The greatest number of inspections 
would be 2 if the data starts in the middle or just not at the start 
of the page, therefore it spans 2 pages and would need 2 inspections.

For a system that only copies 2 bytes of data, the least number of 
inspections would still be 1 in the case that both bytes are on the same 
page. The greatest number of inspections would still be 2 in the case that
the first byte is the last byte of one page and the second byte if the first
byte the next page.

For the theoretical min/max of 1/2 inspections for the best/worst cases,
there is no room for improvement as 1 inspection is the lowest as at 
least 1 inspection is required to check if the ptr is valid and 2
inspections for the case described above is unavoidable.

>> B5: Briefly describe your implementation of the "wait" system call
>> and how it interacts with process termination.

wait syscall calls process_wait which does the following: 

1. Searches current threads child_list for a child with the given tid.
   If no such child exists or the child is already waited for, return -1.
   If child is found, then set waited_for = 1, then runs 
   sema_down(&child->wait_sema).

2. When the child eventually calls exit or is killed by an exception,
   its process_exit stores the exit status, and then it runs
   sema_up(&cur->wait_sema) to unblock the parent and then runs
   sema_down(&cur->die_sema)

3. Since the parent is now unblocked by the wait_sema, it retrieves
   the child's exit status and then removes the child from child_list.
   Then it runs sema_up(&child->die_sema), which allows the child to 
   die and free its allocated resources.

4. If the child has already exited before the parent calls wait, the
   wait_sema is already up, so the parent unblock and does step 3.

>> B6: Any access to user program memory at a user-specified address
>> can fail due to a bad pointer value.  Such accesses must cause the
>> process to be terminated.  System calls are fraught with such
>> accesses, e.g. a "write" system call requires reading the system
>> call number from the user stack, then each of the call's three
>> arguments, then an arbitrary amount of user memory, and any of
>> these can fail at any point.  This poses a design and
>> error-handling problem: how do you best avoid obscuring the primary
>> function of code in a morass of error-handling?  Furthermore, when
>> an error is detected, how do you ensure that all temporarily
>> allocated resources (locks, buffers, etc.) are freed?  In a few
>> paragraphs, describe the strategy or strategies you adopted for
>> managing these issues.  Give an example.


We handle invalid pointers by checking all pointers before
they are used by the kernel for syscalls. To manage these invalid 
pointer issues we ended up using method 2 from the documentation of 
checking that a user pointer points below PHYS_BASE 
(so pointer isn't in kernel virtual address space) and isn't NULL, 
then dereferencing it to have a page fault occur in the case 
of an invalid pointer (that wasn't already checked).

However, we also had to keep in mind about freeing resources so
we implemented the get_user function to help. Without get_user when we
dereference the pointer there's no way to return an error code from 
a memory access. 

To use get_user, in page_fault when we are in kernel mode 
we made sure to set f->eip = (void *)f->eax and f->eax = 0xffffffff; then 
return to get_user. We made sure to return so that page_fault wouldn't kill
the process without freeing the resources. Also get_user assumes we have 
modified page fault as so. This is so that when we return to get_user from 
page fault setting the next instruction pointer f->eip to (void *)f->eax 
will make get_user skip the memory  access that caused the page fault so 
it will not infinitely page fault. And set f->eax = 0xffffffff; so get_user 
will return -1. 

Our strategy involved using get_user in many functions. And 
when get_user returned -1 that would  mean the pointer is invalid and as 
such we need to terminate the offending process and free its resources. 
To do all of this we just need to call exit(-1). This will call
thread_exit which also calls process_exit. All of these functions 
already help us clean up all of our resources by our design. They 
close any open files, release any necessary locks, dealloacte
memory, make files writeable, and etc to clean up all resources.

We used the method 2 strategy for checking all pointers including
the inital stack pointer, all the pointers for the three arguments,
all file pointers for file syscalls, and the pointer for exec's
commandline. 

To also best avoid obscuring the primary function of code in a morass 
of error-handling we created helper functions to do the checking for
us. One such example is the static bool copy_in (void *dst_, 
const void *usrc_, size_t size) function. We use this function to
validate pointers for the stackpointer which holds the syscall number
and for all arguments of any syscall. The copy_in function also 
has the number of bytes to check for invalid pointers as a 
paramter so we can use it to check all arguments of all syscalls.

We also have a function to check an arbitrary pointer to see
if its valid or not called check_pointer and a function to check
buffers of any size called check_buffer. check_pointer uses the 
same get_user method, and check_buffer uses check_pointer, on 
every byte in the buffer's size to check the entire buffer.

For an example of what we validate for a write syscall. We first 
use copy_in to validate the syscall_number and the 3 argumnets. 
Then we use check_buffer for the write buffer. These 3 functions 
all use get_user so if one of the pointers was invalid the 
process would terminate and through exit would clean up all its 
resources.


---- SYNCHRONIZATION ----

>> B7: The "exec" system call returns -1 if loading the new executable
>> fails, so it cannot return before the new executable has completed
>> loading.  How does your code ensure this?  How is the load
>> success/failure status passed back to the thread that calls "exec"?

To do this we have a semaphore load_sema and a bool value called loaded 
for each thread. When a parent does an exec system call. Exec will call
process_execute. In process execute the parent thread calls
tid = thread_create(prog_name, PRI_DEFAULT, start_process, fn_copy2);

When the thread is created the child thread is added to the parent
threads child_list and the child thread will have its load_sema 
initialized to 0. And after the thread is created start_process 
is called which calls load. 

We want the parent thread to wait for the new executable to finish
loading so in process_execute after we call thread_create we look for the 
child thread by iterating through the parent/current processes child
list and do sema_down on the child threads load_sema. 

Since load sema is initialized to 0 the parent doing sema_down on the 
child's load_sema will make the parent wait until the child calls 
sema_up on their own load sema. We make sure this only happens after the 
child finishes loading the executable in start-process.

And when the child finishes loading and calling sema_up on their 
load sema we store whether the loading was successful or not 
in the childs loaded variable.

So, only after the child tries loading the new executable and calling
sema_up on their load_sema, then the parent process acquires the load_sema 
and stops waiting.

The parent process that called exec can then check 
the loaded varaible of the child thread (which we already previously 
gotten) to see if the load was a success or failure and return
the child processes pid or -1 respectively.


>> B8: Consider parent process P with child process C.  How do you
>> ensure proper synchronization and avoid race conditions when P
>> calls wait(C) before C exits?  After C exits?  How do you ensure
>> that all resources are freed in each case?  How about when P
>> terminates without waiting, before C exits?  After C exits?  Are
>> there any special cases?

Synch between P and C relies on 2 semaphores (wait, die)
and a flag (waited_for):

wait_sema (init to 0) -> C uses this to signal exit, P waits for this
die_sema (init to 0) -> P signals that C can die, C waits for this
waited_for -> prevents multiple waits on same C} 


1. How do you ensure proper synchronization and avoid race conditions
   when P calls wait(C) before C exits?

   P blocks on wait_sema. When C terminates, it stores exit status,
   runs sema up on wait_seam, and downs die_sema. P wakes up, then 
   retrieves the exit status, removes C from the child_list and ups
   die_sema. C then dies and no race happens because C does not free 
   itself until after die_sema is up.

2. After C exits?

   After C exits, wait_sema is already up, so when P calls wait,
   sema_down(&child->wait_sema) returns immediately and P reads
   the exit status, remove the child from child_list, and ups
   die_sema. This then unblocks C to die.

3. How about when P terminates without waiting, before C exits?

   In process_exit, P iterates through all remaning children
   in child-list. For each child, P ups die_sema to ensure that
   when C exits, it will not block forever on die_sema. P then 
   removes the child from child_list. P then does not wait for
   C to exit and terminates. C keeps running, and when it exits,
   it finds die_sema up so it can die imeediately without blocking.

4. After C exits?

   If C already exited, it is blocked on die_sema. P calls 
   process_exit which will up die_sema, allowing C to finish
   dying. P then removes C from child_list.

5. Special cases

-> In cases where a second wait might be called, waited_for 
   prevents a second wait from accessing a freed thread and
   crashing because of that

-> If child fails to load, the parent in process_execute 
   returns -1 without touching the semas. The child's
   start_process is already terminated and freed 
   its resources. 

---- RATIONALE ----

>> B9: Why did you choose to implement access to user memory from the
>> kernel in the way that you did?

We chose to implement user memeory access by checking bytes with
get_user. // Alex explain why


>> B10: What advantages or disadvantages can you see to your design
>> for file descriptors?

Advantages:
-> Getting a fie from an fd is an array lookup, so O(1), (i.e: fd_table[fd])
-> Storing the table in a seperate kernel page (using palloc_get_page) keeps struct thread less bloated

Disadvantages:
-> Fd tables have a limit of 64 fd's so it could be too little for programs that open many files


>> B11: The default tid_t to pid_t mapping is the identity mapping.
>> If you changed it, what advantages are there to your approach?

               SURVEY QUESTIONS
               ================

Answering these questions is optional, but it will help us improve the
course in future quarters.  Feel free to tell us anything you
want--these questions are just to spur your thoughts.  You may also
choose to respond anonymously in the course evaluations at the end of
the quarter.

>> In your opinion, was this assignment, or any one of the three problems
>> in it, too easy or too hard?  Did it take too long or too little time?

>> Did you find that working on a particular part of the assignment gave
>> you greater insight into some aspect of OS design?

>> Is there some particular fact or hint we should give students in
>> future quarters to help them solve the problems?  Conversely, did you
>> find any of our guidance to be misleading?

>> Do you have any suggestions for the TAs to more effectively assist
>> students, either for future quarters or the remaining projects?

>> Any other comments?
